body, html {
    height: 100%;
}


.image-1{
	background-image: url(1.jpg);
	background-attachment: fixed;
	background-position: center;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;


}

.image-2{
	background-image: url(2.jpg);
	background-attachment: fixed;
	background-position: center;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;


}
.image-3{
	background-image: url(3.jpg);
	background-attachment: fixed;
	background-position: center;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;


}


.image{
	background-color: blue;
	padding: 40px;

}